<html>
    <head>
        <meta charset="UTF-8">
        <title>게시판 프로젝트</title>
    </head>
    <body>
        <!--
            중괄호 3개로 감싸주어야 함
            여기에 다른 핸들바 템플릿 코드가 들어감
        -->
        {{{ body }}}
    </body>
</html>